{% extends "index.html" %}

{% block Titulo %}Crear Cuenta{% endblock Titulo %}

{% block Contenido %}

    <main class="bg-blue-950 h-screen w-screen p-5 flex items-center justify-center">
        <section class="bg-blue-800 flex flex-col items-center p-2 rounded-lg text-white h-auto w-[30rem]">
            <a href="{% url "Inicio" %}" class="text-4xl font-black py-5 select-none">Soft Project</a>
            <div class="flex flex-col gap-3">
                
                <p class="font-semibold text-2xl text-center">Crea una cuenta</p>

                {% if aviso %}

                    <span class="font-bold text-red-500 text-center">{{ aviso }}</span>
                    
                {% endif %}

            </div>
            

            <form method="post" class="flex flex-col py-10 px-5 gap-7 w-full items-center">
                {% csrf_token %}
                <label class="w-full font-semibold">
                    Nombres
                    <input name="nombres" class="inputStyle" placeholder="Francisco" type="text" required>
                </label>

                <label class="w-full font-semibold">
                    Apellidos
                    <input name="apellidos" class="inputStyle" placeholder="De Miranda" type="text" required>
                </label>

                <label class="w-full font-semibold">
                    Correo Electrónico
                    <input name="correo" class="inputStyle" placeholder="correo@correo.com" type="email" required>
                </label>

                <label class="w-full font-semibold">
                    Contraseña
                    <input name="contraseña" class="inputStyle" placeholder="12345" type="password" required>
                </label>

                <button class="bg-blue-600 hover:bg-blue-500 cursor-pointer rounded-md p-2 text-lg font-semibold w-50">Registrar</button>
            </form>

            <a class="text-md font-medium pb-5" href="{% url 'Login' %}">¿Ya estas Registrado?</a>
        </section>
    </main>
    
{% endblock Contenido %}