{% extends "admin.html" %}

{% block OpcionesAdmin %}

<h2 class="text-center text-2xl font-bold">Proyectos</h2>


<article class="grid my-5 gap-15 md:grid-cols-2 lg:grid-cols-3">
    
    {% for proyecto in proyectos %}
    
        <div class="bg-blue-800 w-full min-w-[17rem] h-max rounded-2xl p-5">
            <h4 class="text-xl font-bold mb-5">{{ proyecto.id_proyecto.nombre }}</h4>
            

            {% for datos in datosProyecto %}
                {% if proyecto.id_proyecto == datos.0 %}
                    <span class="text-lg font-medium">Tareas: <strong>{{datos.1.TareasTotal}}</strong> </span>
                    <p class="text-lg font-medium">Miembros: <strong>{{datos.1.MiembrosTotal}}</strong> </p>
                {% endif %}
            {% endfor %}

            <div class="w-full flex flex-row-reverse">
                <a href='{% url "ProyectoTablero" proyecto.id_proyecto.id_proyecto %}' class="botonStyle w-30 mt-5 text-center">Entrar</a>
            </div>
        </div>

    {% endfor %}

</article>


{% endblock OpcionesAdmin %}   