{% extends "proyectos.html" %}

{% block opcionesMenu %}

<a href="{% url "ProyectoTablero" id_proyecto %}" class="buttonNav">
    <figure class="w-9 h-9 cursor-pointer">
        <svg stroke="#fff" class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198 199">
            <rect fill="none" stroke-miterlimit="10" stroke-width="16" x="8" y="8" width="79" height="79" rx="15.72"/>
            <rect fill="none" stroke-miterlimit="10" stroke-width="16" x="111" y="8" width="79" height="79" rx="15.72"/>
            <rect fill="none" stroke-miterlimit="10" stroke-width="16" x="8" y="112" width="79" height="79" rx="15.72"/>
            <rect fill="none" stroke-miterlimit="10" stroke-width="16" x="111" y="112" width="79" height="79" rx="15.72"/>
        </svg>
    </figure>
    <p class="text-[13px]">Tableros</p>
</a>
<a href="{% url "ProyectoEstadistica" id_proyecto %}" class="buttonNav">
    <figure class="w-9 h-9 cursor-pointer">
        <svg stroke="#fff" class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190 192.49">
            <path fill="none" stroke-miterlimit="10" stroke-width="16" d="M8 1.49v152.88a30.11 30.11 0 0 0 30.12 30.12H190m-136.9-15v-51.75m34.3 51.75V80.37m37.98 89.12v-56.06m35.52 56.06v-115M49 94.49 74.66 53a14 14 0 0 1 22-2l13.2 14.39c6.52 7.12 18.47 5.46 22.64-3.15L161 3.49"/>
        </svg>
    </figure>
    <p class="text-[13px]" >Estadisticas</p>
</a>
{%  endblock opcionesMenu %}

{% block tabProyectos %}


<div class="w-full md:pl-30 md:py-5 md:my-auto min-h-screen text-white flex items-center justify-center">

    <div class="bg-blue-900 w-[22rem] h-max rounded-md flex flex-col items-center justify-center gap-5 p-5">
        
        <h2 class="font-bold text-3xl">Editar Tarea</h2>

        <form method="post" class="flex flex-col items-center justify-center gap-3 w-full">

            {% csrf_token %}

            {% if avisoTarea %}

                <span class="font-bold text-red-500">{{ avisoTarea }}</span>
                
            {% endif %}

            <label class="flex flex-col font-semibold text-[17px] gap-2 w-full">
                Título
                <input name='TituloTarea' class="inputStyle" type="text" value="{{datosTarea.nombre}}" required>
            </label>

            <label class="flex flex-col font-semibold text-[17px] w-full">
                Descripción
                <textarea name='DescripcionTarea' class="inputStyle min-h-27 max-h-27" required>{{datosTarea.descripcion}}</textarea>
            </label>

            <label class="flex flex-col font-semibold text-[17px] gap-2 w-full">
                Estado
                <select name='CategoriaTarea' class="inputStyle" required>
                    {% for categoria in categorias %}
                        <option class="opcionesSelect" value={{ categoria.id_categoria.pk }} {% if categoria.id_categoria.nombre == datosTarea.categoria.nombre %}selected{% endif %}>{{ categoria.id_categoria.nombre }}</option>
                    {% endfor %}
                </select>
            </label>

            <label class="flex flex-col font-semibold text-[17px] gap-2 w-full">
                Prioridad
                <select name='PrioridadTarea' class="inputStyle" required>
                    <option class="opcionesSelect" value="BAJA" {% if datosTarea.prioridad == 'BAJA' %}selected{% endif %}>Baja</option>
                    <option class="opcionesSelect" value="MEDIA" {% if datosTarea.prioridad == 'MEDIA' %}selected{% endif %}>Media</option>
                    <option class="opcionesSelect" value="ALTA" {% if datosTarea.prioridad == 'ALTA' %}selected{% endif %}>Alta</option>
                </select>
            </label>

            <label class="flex flex-col font-semibold text-[17px] gap-2 w-full">
                Asignado a
                <select name='AsignacionTarea' class="inputStyle" required>
                    {% for miembro in miembros %}
                        <option class="opcionesSelect" value="{{ miembro.usuario.correo }}" {% if miembro.usuario.correo == miembroAsignado.correo %}selected{% endif %}>{{ miembro.usuario.nombre }} {{ miembro.usuario.apellido }}</option>
                    {% endfor %}
                </select>
            </label>

            
            <button class="botonStyle">Editar</button>
        </form>
        <div class="flex w-full gap-5">
            <a href="{% url 'EliminarTarea' datosTarea.pk id_proyecto %}" class="botonStyle bg-red-400 text-center">Eliminar</a>
            <a href="{% url "ProyectoTablero" id_proyecto %}" class="botonStyle text-center">Cancelar</a>
        </div>
    </div>

</div>


{% endblock tabProyectos %}