{% extends "proyectos.html" %}

{% block opcionesMenu %}

<div class="buttonNav" onclick="openModalCrear()">
    <figure class="w-9 h-9 cursor-pointer">
        <svg stroke="#fff" class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 213.25 208.08">
            <path fill="none" stroke-miterlimit="10" stroke-width="16" d="M200.8 12.62c-7.26-7.25-18.7-4.07-21.81-3a3.44 3.44 0 0 0-1.35.83l-116.7 116.7a9.4 9.4 0 0 0-2.29 3.68l-6.11 17.92a9.56 9.56 0 0 0 12.13 12.13l17.93-6.1a9.7 9.7 0 0 0 3.67-2.29L202.94 35.82a3.5 3.5 0 0 0 .86-1.44c.99-3.24 3.87-14.88-3-21.79M120 17.08H51a43 43 0 0 0-43 43v97a43 43 0 0 0 43 43h96a43 43 0 0 0 43-43v-37"/>
        </svg>                                      
    </figure>
    <p class="text-[13px]" >Crear Tarea</p>
</div>
<a href="{% url "ProyectoEstadistica" id_proyecto %}" class="buttonNav">
    <figure class="w-9 h-9 cursor-pointer">
        <svg stroke="#fff" class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190 192.49">
            <path fill="none" stroke-miterlimit="10" stroke-width="16" d="M8 1.49v152.88a30.11 30.11 0 0 0 30.12 30.12H190m-136.9-15v-51.75m34.3 51.75V80.37m37.98 89.12v-56.06m35.52 56.06v-115M49 94.49 74.66 53a14 14 0 0 1 22-2l13.2 14.39c6.52 7.12 18.47 5.46 22.64-3.15L161 3.49"/>
        </svg>
    </figure>
    <p class="text-[13px]" >Estadisticas</p>
</a>
{%  endblock opcionesMenu %}

{% block tabProyectos %}

<main class="text-white md:h-[calc(100%-3.75rem)] md:overflow-y-hidden flex place-content-center md:place-content-baseline md:ml-25 scrollbar scrollbar-thumb-blue-900/50">
        
    <div class="fixed top-0 left-0 hidden z-99" id="modalCrear">
        <div class="w-screen h-screen bg-black/30 flex items-center justify-center">
    
            <div class="bg-blue-900 w-[22rem] h-max rounded-md flex flex-col items-center justify-center gap-5 p-5">
                
                <h2 class="font-bold text-3xl">Crear Tarea</h2>

                <form method="post" class="flex flex-col items-center justify-center gap-3 w-full">

                    {% csrf_token %}

                    {% if avisoTarea %}

                        <span class="font-bold text-red-500">{{ avisoTarea }}</span>
                        
                    {% endif %}

                    <input class="hidden" type="hidden" name='tipoPost' value='CrearTarea' >

                    <label class="flex flex-col font-semibold text-[17px] gap-2 w-full">
                        Título
                        <input name='TituloTarea' class="inputStyle" type="text">
                    </label>

                    <label class="flex flex-col font-semibold text-[17px] w-full">
                        Descripción
                        <textarea name='DescripcionTarea' class="inputStyle min-h-27 max-h-27"></textarea>
                    </label>

                    <label class="flex flex-col font-semibold text-[17px] gap-2 w-full">
                        Estado
                        <select name='CategoriaTarea' class="inputStyle">
                            {% for categoria in categorias %}
                                <option class="opcionesSelect" value={{ categoria.id_categoria.pk }}>{{ categoria.id_categoria.nombre }}</option>
                            {% endfor %}
                        </select>
                    </label>

                    <label class="flex flex-col font-semibold text-[17px] gap-2 w-full">
                        Prioridad
                        <select name='PrioridadTarea' class="inputStyle">
                            <option class="opcionesSelect" value="BAJA">Baja</option>
                            <option class="opcionesSelect" value="MEDIA">Media</option>
                            <option class="opcionesSelect" value="ALTA">Alta</option>
                        </select>
                    </label>

                    <label class="flex flex-col font-semibold text-[17px] gap-2 w-full">
                        Asignado a
                        <select name='AsignacionTarea' class="inputStyle">
                            {% for miembro in miembros %}
                                <option class="opcionesSelect" value="{{ miembro.usuario.correo }}">{{ miembro.usuario.nombre }} {{ miembro.usuario.apellido }}</option>
                            {% endfor %}
                        </select>
                    </label>

                    <button class="botonStyle" onclick="closeModalCrear()">Crear</button>
                    
                </form>
                <button class="botonStyle" onclick="closeModalCrear()">Cancelar</button>
            </div>
    
        </div>
    </div>


    
    <div class="fixed top-0 left-0 hidden z-99" id="modalCrearColumna">
        <div class="w-screen h-screen bg-black/30 flex items-center justify-center">
    
            <div class="bg-blue-900 w-[22rem] h-[30rem] rounded-md flex flex-col items-center justify-around gap-5 p-10">
                
                <div class="flex flex-col gap-3">

                    <h2 class="font-bold text-3xl">Crear Columna</h2>

                    {% if avisoColumna %}
    
                        <span class="font-bold text-red-500">{{ avisoColumna }}</span>
                        
                    {% endif %}

                </div>


                <form method="post" class="flex flex-col items-center justify-around gap-4 w-full">

                    {% csrf_token %}

                    <input class="hidden" type="hidden" name='tipoPost' value='CrearColumna' >


                    <label class="flex flex-col font-semibold text-lg gap-3 w-full">
                        Nombre de la Columna
                        <input name="NombreColumna" class="inputStyle" type="text">
                    </label>

                    <button class="botonStyle" onclick="closeModalCrearColumna()">Crear</button>
                </form>
                <button class="botonStyle" onclick="closeModalCrearColumna()">Cancelar</button>
            </div>
    
        </div>
    </div>

    <div class="fixed top-0 left-0 hidden z-99" id="modalOpcionesColumna">
        <div class="w-screen h-screen bg-black/30 flex items-center justify-center">
    
            <div class="bg-blue-900 w-[22rem] h-[30rem] rounded-md flex flex-col items-center justify-around gap-5 p-10">
                
                <div class="flex flex-col gap-3">

                    <h2 class="font-bold text-2xl">Opciones Columna</h2>

                    {% if avisoColumna %}
    
                        <span class="font-bold text-red-500">{{ avisoColumna }}</span>
                        
                    {% endif %}

                </div>

                <div class="w-full h-full overflow-y-scroll space-y-4 scrollbar scrollbar-w-0">

                    {% for categoria in categorias %}
                    
                        <article class="w-full h-10 grid grid-flow-col place-items-center gap-2 auto-cols-[1fr_4rem_2rem]">
                            <p class="text-[14px] font-medium">{{categoria.id_categoria.nombre}}</p>
                            <form method="post" class="flex justify-center items-center">

                                {% csrf_token %}

                                <input class="hidden" type="hidden" name='tipoPost' value='IndiceColumna' >

                                <input class="hidden" type="hidden" name='idCategoriaProyecto' value={{categoria.pk}} >

                                <input class="inputStyle w-full" value="{{categoria.indice}}" type="text" name="indiceCategoria" required>

                                <button class="cursor-pointer">
                                    <svg class="fill-blue-400 h-[1.7rem] w-[1.7rem]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2m-7.933 13.481-3.774-3.774 1.414-1.414 2.226 2.226 4.299-5.159 1.537 1.28z"/>
                                    </svg>                                                               
                                </button>
                            </form>
                            <a href="{% url 'EliminarCategoria' categoria.pk id_proyecto %}" class="flex h-full w-full justify-center items-center cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" class="fill-white" viewBox="0 0 24 24">
                                    <path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7zm4 12H8v-9h2zm6 0h-2v-9h2zm.618-15L15 2H9L7.382 4H3v2h18V4z"/>
                                </svg>                              
                            </a>
                        </article>
                    {% endfor %}
                   
                </div>
                
                <button class="botonStyle" onclick="closeModalOpcionesColumna()">Cancelar</button>
            </div>
    
        </div>
    </div>


    <section id="tareasProyecto" class="my-5 py-4 md:m-0 md:p-0 flex flex-col md:flex-row gap-5 md:gap-0 place-items-center w-auto" >

        {% for categoria in categorias %}
            <article class="styleColumnas">
                <h2 class="text-2xl font-bold">{{ categoria.id_categoria.nombre }}</h2>

                <section class="overflow-y-scroll scrollbar scrollbar-w-0 flex flex-col gap-7">
                    {% for tarea in Tareas %}
    
                        {% if tarea.id_tarea.categoria == categoria.id_categoria %}
                            <div data-tarea-id="{{ tarea.id_tarea }}" class="bg-blue-500 h-auto w-full rounded-2xl p-3 flex flex-col justify-between gap-2">
                                <div class=" grid grid-flow-col gap-2 justify-between ">
                                    <h2 class="titulos">{{ tarea.id_tarea.nombre }}</h2>
                                    <div class="w-7 h-7 relative select-none">
                
                                        <a href="{% url "EditarTarea" id_proyecto tarea.id_tarea.pk %}" class="cursor-pointer">
                                            <svg stroke="#fff" class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 213.25 208.08">
                                                <path fill="none" stroke-miterlimit="10" stroke-width="16" d="M200.8 12.62c-7.26-7.25-18.7-4.07-21.81-3a3.44 3.44 0 0 0-1.35.83l-116.7 116.7a9.4 9.4 0 0 0-2.29 3.68l-6.11 17.92a9.56 9.56 0 0 0 12.13 12.13l17.93-6.1a9.7 9.7 0 0 0 3.67-2.29L202.94 35.82a3.5 3.5 0 0 0 .86-1.44c.99-3.24 3.87-14.88-3-21.79M120 17.08H51a43 43 0 0 0-43 43v97a43 43 0 0 0 43 43h96a43 43 0 0 0 43-43v-37"/>
                                            </svg>                              
                                        </a>
                
                                    </div>
                                </div>
                                <p>{{ tarea.id_tarea.descripcion }}</p>
                                <div class="flex gap-5">
                                    <span class="font-black">{{ tarea.id_tarea.prioridad }}</span>
                                    <p>{{ tarea.usuario.nombre }}  {{ tarea.usuario.apellido }}</p>
                                </div>
                            </div>
    
    
                        {% endif %}
    
                    {% endfor %}
                </section>
                
            </article>
        {% endfor %}

        <div class="flex flex-col gap-10">
            <article onclick="openModalCrearColumna()" class="h-[5rem] select-none cursor-pointer md:scale-80 w-[19rem] md:w-[23rem] md:max-w-[27rem] max-w-[20rem] bg-blue-800 rounded-xl flex flex-col justify-center items-center gap-5 p-5 md:mr-5">

                <h2 class="text-2xl font-bold">Agregar Columna</h2>
    
            </article>
            <article onclick="openModalOpcionesColumna()" class="h-[5rem] select-none cursor-pointer md:scale-80 w-[19rem] md:w-[23rem] md:max-w-[27rem] max-w-[20rem] bg-blue-800 rounded-xl flex flex-col justify-center items-center gap-5 p-5 md:mr-5">

                <h2 class="text-2xl font-bold">Editar Columnas</h2>
    
            </article>
        </div>

    </section>
</main>

{% endblock tabProyectos %}

